---
title: WoukieNet | Interloper
permalink: /interloper
layout: default
---

<div class="container" style="margin-left: auto; margin-right: auto;">
  {% include navbar.html %}
  {% include title.html %}
  <div class="lead">
    <h1>The Internet Interloper project</h1>
    <p>
      Leave notes around the internet for others to find. Notes last forever and can be seen by anyone with the extension installed. There is no sign up, no tracking, and no ads.
    </p>
    <form
      hidden="true"
      class="interlopers-only"
      action="https://woukienet.com/account/set-username"
      method="post">
      <hr/>
      <h2>
        Update username
      </h2>
      <label for="username">Username:</label>
      <input
        style="margin-left: 0px; margin-bottom: 18px;"
        type="text"
        id="interloper-username-input"
        name="username"
        value="Anonymous" />
      <br/>
      <button
        id="interloper-username-submit"
        type="submit"
        class="btn btn-primary">
        Apply
      </button>
    </form>
    <hr/>
    <h2>
      Become an Interloper
    </h2>
    <p>
      Download the extension on Firefox or Chrome.
    </p>
    <ul>
      <li>
        <a href="https://addons.mozilla.org/en-GB/firefox/addon/interloper/">Firefox</a>
      </li>
      <li>
        <a href="https://chromewebstore.google.com/detail/interloper/pdjfgddnjhbkjaohdlmefjccnnppgcbi>">Chrome</a>
      </li>
    </ul>
    <hr/>
    <h2>
      Policy
    </h2>
    <p>
      Interlopers have the freedom to share many things with the world. But if one wishes to make bomb threats against the White House, they use email, not the Internet Interloper project.
    </p>
  </div>

  <hr/>
  <p>
    &copy; WoukieNet 2025
  </p>
</div>