---
title: WoukieNet | Interloper
permalink: /interloper
layout: default
---

<div class="container" style="margin-left: auto; margin-right: auto;">
  {% include navbar.html %}
  {% include title.html %}
  <div class="lead">
    <h1>Welcome to the Internet Interloper project</h1>
    <p>
      The Internet Interloper project lets you anonymously leave notes on any page on the internet, visible to anyone else using the extension on the same page.
    </p>
    <p>
      To add a note, right click on the page and select '<b>Add Note</b>'.
    </p>
    <h2>
      How it works
    </h2>
    <p>
      When visiting a page, the extension asks the backend for a list of notes for the URL. If there are notes, the extension displays them on the page.
    </p>
    <p>
      You may have noticed that you can delete your own notes despite not having an account system. The extension uses the browser's local storage to store a unique deletion code for each note, don't reset your browser data if you want to delete your notes.
    </p>
    <p>
      If you don't delete your notes, they stay forever, so be carefull what you put on them.
    </p>
    <h2>
      Why so blue?
    </h2>
    <p>
      It's easy to program and looks good.
    </p>
    <hr/>
    <p>
      Interlopers have the freedom to share anything with the world, so long as it's within the bounds of the law. If an interloper wishes to make bomb threats against the White House, they use email, not the Internet Interloper project.
    </p>
  </div>

  <hr/>
  <p>
    &copy; WoukieNet 2025
  </p>
</div>