---
title: WoukieNet | Projects
permalink: /projects
layout: default
---

<div class="container" style="margin-left: auto; margin-right: auto">
  {% include navbar.html %} {% include title.html %}
  <div class="lead">
    <h1>Projects</h1>
    <p>Here are all my 'fun' projects, mainly game stuff.</p>
    <hr />
    <h2>Modding</h2>
    <p>
      I'm back into modding again, currently working on a ballistic missiles mod
      for Minecraft.
    </p>
    <p>
      I'm working with a mechanical engineer to realistically physically
      simulate trajectories, going as far as simulating even atmospheric
      pressure, fuel and air resistance.
    </p>
    <img src="assets/img/Minecraft/6.webp" alt="rocket preview" width="294px" />
    <p></p>
    <p>One of the early-game rocket sets being rendered for the mod icon.</p>
    <hr />
    <h3>Scrap Mechanic</h3>
    <p>
      Made 'Drive', a recreation of 'The Long Drive'. I thought SM's interaction
      system would complement TLD. Most of the work went into rewriting world
      generation and loading between worlds during gameplay.
    </p>
    <img src="assets/img/Drive/1.webp" alt="da starter bench" width="294px" />
    <img src="assets/img/Drive/2.webp" alt="pit stop" width="294px" />
    <img
      src="assets/img/Drive/0.webp"
      alt="selfie of me driving"
      width="294px"
    />
    <p></p>
    <p>
      My next SM mod comes from when I wanted to play 'Build a Boat for
      Treasure' with my friends but they called it lame and refused to play it
      because it's on Roblox. So I read the wiki for it and remade it as a SM
      mod called 'ScrapFarer'.
    </p>
    <img
      src="assets/img/ScrapFarer/0.webp"
      alt="feature graphic for scrapfarter"
    />
    <p></p>
    <p>
      This project was tough but fun, it fundamentally changes the gameplay loop
      of the game, which meant it really pushed the limits of what was possible
      (hence why it's so buggy). Every single model and texture in the game was
      modelled/photographed and edited by me.
    </p>
    <img src="assets/img/ScrapFarer/1.webp" alt="slide 1" width="294px" />
    <img src="assets/img/ScrapFarer/2.webp" alt="slide 2" width="294px" />
    <img src="assets/img/ScrapFarer/3.webp" alt="slide 3" width="294px" />
    <p></p>
    <p>
      Despite being more work, it's nowhere near as good as Drive (often the
      case with these projects). It's way too buggy and not well paced, but that
      hasn't stopped Scrapman making 5 whole videos on it, along with other
      YouTubers and streamers, which caused it to get thousands of downloads.
    </p>
    <img
      src="assets/img/LuckyBlocks/0.webp"
      alt="lucky block title"
      width="294px"
    />
    <p></p>
    <p>
      Also made a mod that adds loot boxes to the game, it had a really nice
      lucky block model.
    </p>
    <h3>ROUNDS</h3>
    <p>
      Added web image support to another person's map editor mod in order to put
      pictures of my friends in the game. ~200,000 downloads. It got used by a
      popular map maker, which absolutely rocketed the downloads.
    </p>
    <img src="assets/img/MapImageObjects/0.gif" alt="editor" width="294px" />
    <img src="assets/img/MapImageObjects/1.gif" alt="colours" width="294px" />
    <img src="assets/img/MapImageObjects/2.gif" alt="rope" width="294px" />
    <p></p>
    <img
      src="assets/img/MapImageObjects/3.gif"
      alt="transparrent"
      width="294px"
    />
    <img
      src="assets/img/MapImageObjects/4.gif"
      alt="got killed by a literal bot"
      width="294px"
    />
    <p></p>
    <p>Also made a Family Guy themed map.</p>
    <img src="assets/img/FamilyGuyMaps/1.gif" alt="peter" width="294px" />
    <img src="assets/img/FamilyGuyMaps/2.gif" alt="peter" width="294px" />
    <img src="assets/img/FamilyGuyMaps/3.gif" alt="peter" width="294px" />
    <p></p>
    <img src="assets/img/FamilyGuyMaps/4.gif" alt="peter" width="294px" />
    <img src="assets/img/FamilyGuyMaps/5.gif" alt="peter" width="294px" />
    <img src="assets/img/FamilyGuyMaps/6.gif" alt="peter" width="294px" />
    <p></p>
    <img src="assets/img/FamilyGuyMaps/7.gif" alt="peter" width="294px" />
    <img src="assets/img/FamilyGuyMaps/0.webp" alt="peter" width="64px" />
    <p></p>
    <h3>Minecraft</h3>
    <p>
      ShrinkRays, Lost Idols, Protein, Shearable Coral and ShrinkDevices,
      ~27,000 downloads. I'm not updating them.
    </p>
    <img src="assets/img/Minecraft/2.gif" alt="slide 1" width="294px" />
    <img src="assets/img/Minecraft/3.gif" alt="slide 1" width="294px" />
    <img
      src="assets/img/Minecraft/0.webp"
      alt="shrink ray block"
      width="64px"
    />
    <img src="assets/img/Minecraft/1.gif" alt="lost idols" />
    <p></p>
    <img src="assets/img/Minecraft/4.webp" alt="protein mc" />
    <p></p>
    <p>
      Also working on Create Missiles now, a ballistic missiles mod themed
      around Create, which is currently a really popular mod.
    </p>
    <video width="904" controls>
      <source src="assets/img/Minecraft/5.mp4" type="video/mp4" />
    </video>
    <p>That's all you get for now</p>
    <hr />
    <h2>Rank Everything</h2>
    <p>A small social experiment where people would add and rank arbitrary things. Pretty fun project shared between friends, had a website at <i>rankeverything.com</i> and even had a mobile app.</p>
    <p>Project has since ended and the domain expired.</p>
    <img src="assets/img/RankEverything/0.webp" alt="" width="294px" />
    <img src="assets/img/RankEverything/1.webp" alt="" width="294px" />
    <img src="assets/img/RankEverything/2.webp" alt="" width="294px" />
    <p></p>
    <hr />
    <h2>WoukieBox and WoukieBox 2</h2>
    <p>
      The first one was a fun experimental global chatroom that could be
      deployed on any site that took 10 mins to make. It went down because it
      wasn't very active, and I forgot about it after a power outage so the
      backend just died.
    </p>
    <img src="assets/img/WoukieBox/0.webp" alt="" width="294px" />
    <img src="assets/img/WoukieBox/1.webp" alt="" width="294px" />
    <img src="assets/img/WoukieBox/2.webp" alt="" width="294px" />
    <p></p>
    <p>
      The second took 2-3 weeks of my life to develop, and it wasn't just a
      global chatroom, it had accounts, profile pictures / bios, group chats,
      DMs, themes, notifications with sound effects, anonymous accounts, a
      desktop app with an installer, Discord-like messages and even had VOIP in
      the works.
    </p>
    <p>
      It was also using ServerPods. Big mistake, because that meant it was
      really annoying to update and deploy (I was deploying to a VPS with Docker
      which they only partially support). I was also programming it like it was
      going to give me money. To be honest, both these projects were a bit of a
      waste of time.
    </p>
    <hr />
    <h2>Roblox</h2>
    <p>
      I urge anyone wanting to make a Roblox game to use another engine instead.
      It doesn't come with a 'built-in audience' as some people are under the
      impression of. These projects are genuinely some of the only projects I
      regret.
    </p>
    <p>
      Generally, Roblox developers are not carried by the merit of their project
      but by a bidding system which developers use to influence the
      recommendation system on the site.
    </p>
    <h3>The Cube</h3>
    <p>
      The Cube is a game where you throw rocks at a big floating cube.
      Progression was based off Lumber Tycoon 2, with plots, trucks, shops, and
      having the player progress through projectiles. Had quite a technically
      interesting system for subdividing the cube as it was destroyed.
    </p>
    <img src="assets/img/Roblox/1.webp" alt="" width="294px" />
    <img src="assets/img/Roblox/4.webp" alt="" width="294px" />
    <img
      src="assets/img/Roblox/6.webp"
      alt="yeah that's concrete"
      width="294px"
    />
    <p></p>
    <p>
      There was even a science mechanic where players could infuse and combine
      projectiles to get different effects. There weren't too many players, but
      I attribute this mechanic to the fact that a wiki was being made to
      catalogue all the combinations and their effectiveness.
    </p>
    <img src="assets/img/Roblox/7.webp" alt="ROCK? dialogue" width="294px" />
    <img src="assets/img/Roblox/3.webp" alt="" width="294px" />
    <img src="assets/img/Roblox/5.webp" alt="nice deco" width="294px" />
    <p></p>
    <p>
      I even made 5 different music tracks for the shops with different themes
      and every model was custom made and painted by me. Progression was a bit
      slow and it wasn't obvious what some things did. The game was 'finished',
      but it didn't get much attention and I didn't want to buy adverts so I
      never updated it.
    </p>
    <video width="904" controls>
      <source src="assets/video/cube_demo.mp4" type="video/mp4" />
    </video>
    <p></p>
    <h3>WASPs</h3>
    <p>
      The Trello board for this looked insane, the sheer amount of work and time
      that this sucked from me is crazy looking back on it. This is the reason I
      regret Roblox development.
    </p>
    <img src="assets/img/Roblox/2.webp" alt="trello page" />
    <p></p>
    <p>
      A red vs blue attack/defend style game. Defenders protect a 'core' from
      melee attacks by killing attackers (or wait around the core) to collect
      money to spend on upgrading and buying blocks. Featured fully custom
      models, textures and sound effects.
    </p>
    <img src="assets/img/Roblox/0.webp" alt="" width="294px" />
    <img src="assets/img/Roblox/8.webp" alt="" width="294px" />
    <img src="assets/img/Roblox/9.webp" alt="" width="294px" />
    <p></p>
    <p>
      It was never finished, but the prototype was released for people watching
      the devlogs.
    </p>
    <hr />
    <h2>Misc</h2>
    <p>I've made a few other things that don't need whole sections.</p>
    <ul>
      <li>
        Ice Climbers, a GMTK game. Was fun to make and I look back on it fondly.
        I always think back on it whenever I'm in a rut and need to remember I
        can actually work fast.
      </li>
      <li>
        Private radio, an android app that lets me organise and listen to radio streams and circumvent advertisements.
      </li>
      <li>
        Minecraft plugins, maps, servers, mods and minigames, mainly for Bukkit,
        Fabric, Paper and Nukkit.
      </li>
      <li>
        Other game stuff that doesn't see the light of day
      </li>
    </ul>
    <img src="assets/img/ScrapFarer/4.gif" alt="coin" />
    <img src="assets/img/ScrapFarer/5.gif" alt="coin" />
    <img src="assets/img/ScrapFarer/6.gif" alt="coin" />
    <img src="assets/img/Misc/1.webp" alt="coin" />
    <img src="assets/img/Misc/0.webp" alt="coin" />
    <img src="assets/img/Misc/4.webp" alt="coin" />
  </div>
  <hr />
  <p>&copy; WoukieNet 2025</p>
</div>
