---
title: WoukieNet | Projects
permalink: /projects
layout: default
---

<div class="container" style="margin-left: auto; margin-right: auto;">
  {% include navbar.html %}
  {% include title.html %}
  <div class="lead">
    <h1>
      Projects
    </h1>
    <p>
      Here are all my 'fun' projects, mainly game stuff.
    </p>
    <hr/>
    <h2>
      Modding
    </h2>
    <p>
      I'm back into modding again, currently working on a ballistic missiles mod for Minecraft. I'm working with a mechanical engineer to realistically physically simulate trajectories, going as far as simulating even atomospheric pressure, fuel and air resistance.
    </p>
    <h3>
      Scrap Mechanic
    </h3>
    <p>
      Made 'Drive', a recreation of 'The Long Drive', I thought SM's interaction system would complement TLD. Most of the work went into rewriting world generation and loading between worlds during gameplay.
    </p>
    <p>
      My next SM mod comes from when I wanted to play 'Build a Boat for Treasure' with my friends but they called it gay and refused to play it because it's on Roblox. So I read the wiki for it and remade it as a SM mod.
    </p>
    <p>
      This project was tough but fun, it fundamentally changes the gameplay loop of the game, which meant it really pushed the limits of what was possible (hence why it's so buggy).
    </p>
    <p>
      Despite being more work, it's nowhere near as good as Drive (often the case with these projects). It's way too buggy and not well paced, but that hasn't stopped Scrapman making 5 whole videos on it, along with other YouTubers and streamers, which caused it to get thousands of downloads.
    </p>
    <p>
      Also made a mod that adds loot boxes to the game, we don't talk about that.
    </p>
    <h3>
      ROUNDS
    </h3>
    <p>
      Added web image support to another persons map editor mod in order to put pictures of my friends in the game. Also made a family guy themed map. ~200,000 downloads. It got used by a popular map maker, which absolutley rocketed the downloads.
    </p>
    <h3>
      Minecraft
    </h3>
    <p>
      ShrinkRays, Lost Idols, Protein, Shearable Coral and ShrinkDevices, ~27,000 downloads. I'm not updating them.
    </p>
    <p>
      Also working on Create Missiles now, a ballistic missiles mod themed around Create, which is currently a really popular mod.
    </p>
    <hr/>
    <h2>
      WoukieBox and WoukieBox 2
    </h2>
    <p>
      The first one was a fun experimental global chatroom that could be deployed on any site that took 10 mins to make. It went down because it wasn't very active, and I forgot about it after a power outage so the backend just died.
    </p>
    <p>
      The second took 2-3 weeks of my life to develop, and it wasn't just a global chatroom, it had accounts, profile pictures / bios, group chats, DMs, themes, notifications with sound effects, anonymous accounts, a desktop app with an installer, discord-like messages and even had VOIP in the works.
    </p>
    <p>
      It was also using ServerPods. Big mistake, because that meant it was really fucking annoying to update and deploy (I was deploying to a VPS with docker which they only parially support). I was also programming it like it was going to give me money. Tbh both these projects were a bit of a waste of time.
    </p>
    <hr/>
    <h2>
      Roblox
    </h2>
    <p>
      I urge anyone wanting to make a Roblox game to use another engine instead. It doesn't come with a 'built in audience' as some people are under the impression of. These projects are genuinley some of the only projects I regret.
    </p>
    <p>
      Generally, Roblox developers are not carried by the merrit of their project but by a bidding system which developers use to influence the recommendation system on the site.
    </p>
    <h3>
      The Cube
    </h3>
    <p>
      The Cube is a game where you throw rocks at a big floating cube. Progression was based off Lumber Tycoon 2, with plots, trucks, shops, and having the player progress through projectiles. Had quite a technically interesting system for subdividing the cube as it was destroyed.
    </p>
    <p>
      There was even a science mechancic where players could infuse and combine projectiles to get different effects. There weren't too many players, but I attribute this mechanic to the fact that a wiki was being made to catalogue all the combinations and their effectiveness.
    </p>
    <p>
      I even made 5 different music tracks for the shops with different themes and every model was custom made and painted by me. Progression was a bit slow and it wasn't obvious what some things did. The game was 'finished', but it didn't get much attention and I diddn't want to buy adverts so I never updated it.
    </p>
    <h3>
      WASPs
    </h3>
    <p>
      The Trello board for this looked insane, the sheer ammount of work and time that this sucked from me is crazy looking back on it. This is the reason I regret Roblox development.
    </p>
    <p>
      A red vs blue attack/defend style game. Defenders protect a 'core' from melee attacks by killing attackers (or wait around the core) to collect money to spend on upgrading and buying blocks. Featured fully custom models, textures and sound effects.
    </p>
    <p>
      It was never finished, but the prototype was released for people watching the devlogs.
    </p>
    <hr/>
    <h2>
      Misc
    </h2>
    <p>
      I've made a few other things that don't need whole sections.
    </p>
    <ul>
      <li>
        Ice Climbers, a GMTK game. Was fun to make and I look back on it fondly. I always think back on it whenever I'm in a rut and need to remember I can actually work fast.
      </li>
      <li>
        Minecraft plugins, maps, servers, mods and minigames, mainly for Bukkit, Fabric, Paper and Nukkit.
      </li>
    </ul>
  </div>
  <hr/>
  <p>
    &copy; WoukieNet 2025
  </p>
</div>
