---
title: WoukieNet | Blue Oasis 2025
permalink: /projects
layout: default
---

<div class="container" style="margin-left: auto; margin-right: auto;">
  {% include navbar.html %}
  {% include title.html %}
  <div class="lead">
    <h1>
      Projects
    </h1>
    <p>
      Here are the projects that people who know me as 'Woukie' might be interested in. I'm not going to list every project I've ever made, just the ones that I think are worth mentioning.
    </p>
    <hr/>
    <h2>
      Modding
    </h2>
    <p>
      I've made a few mods for games. Though I've completley abandoned modding now, I'm still proud of what I've made.
    </p>
    <h3>
      Scrap Mechanic
    </h3>
    <p>
      Made 'Drive', an immitation of 'The Long Drive'. Operates the same way as survival, but with a lot of the game stripped back. I wouldn't play it myself, but it's got like ten thousand downloads.
    </p>
    <p>
      The other main one is 'Scrapfarer' which is a recreation of the genuinely awful Roblox game 'Build a Boat for Treasure'. The motivation behind the project was to change the gameplay loop of the game, since I don't see that much in modding communities.
    </p>
    <p>
      Despite being more work, it's nowhere near as good as Drive (often the case with these projects). It's also way too buggy, but that hasn't stopped Scrapman making 5 whole videos on it, along with other YouTubers, which caused it to get like 4,000 downloads lmao.
    </p>
    <p>
      Also made a mod that adds loot boxes to the game, we don't talk about that.
    </p>
    <h3>
      ROUNDS
    </h3>
    <p>
      Added web image support to another persons map editor mod in order to put pictures of my friends in the game. Also made a family guy themed map which actually plays really well. Combined ~200,000 downloads. Quite frankly I'm surprised it got that many downloads.
    </p>
    <h3>
      Minecraft
    </h3>
    <p>
      ShrinkRays, Haram Pork, Lost Idols, Protein, Shearable Coral and ShrinkDevices, sitting at ~27,000 downloads. No I will not update them to your favourite version of Minecraft / Fabric / Forge.
    </p>
    <hr/>
    <h2>
      Internet Interloper
    </h2>
    <p>
      Leave text and images on any website for other interlopers.
    </p>
    <p>
      Even works on silly-billy sites like Amazon that abuse url parameters instead of just following
      <a href="https://www.w3.org/Provider/Style/URI">good standards</a>.
    </p>
    <p>
      On that note, I have seen some absolutely barbaric URLs, does Amazon know that browsers have URL character limits? They must know that loading the URL with data is not sustainable. I can't believe that after 30 years of URLs, we still have to deal with this.
    </p>
    <p>
      <a href="/interloper">Leave your mark.</a>
    </p>
    <hr/>
    <h2>
      What happened to WoukieBox and WoukieBox 2?
    </h2>
    <p>
      The first one was a fun experiment that took 10 mins to make. It went down because I was too lazy to restart the backend whenever we had a power outage
    </p>
    <p>
      The second took 2-3 weeks of my life to develop, and it wasn't just a global chatroom, it had accounts, profile pictures / bios, group chats, DMs, themes, notifications with sound effects, anonymous accounts, a desktop app with an installer, discord-like messages and even had VOIP in the works.
    </p>
    <p>
      It was also using ServerPods. Big mistake, because that meant it was really fucking annoying to update and deploy. I was also programming it like it was going to give me money. It wasn't. So I stopped.
    </p>
    <p>
      (Side tangent, why on gods green earth does serverpods not officially support deploying with docker to a VPS?)
    </p>
    <hr/>
    <h2>
      Misc
    </h2>
    <p>
      I've made a few other things that don't need whole sections.
    </p>
    <ul>
      <li>
        The Cube, a Roblox game where you throw rocks at a big floating cube. Progression was based off Lumber Tycoon 2. Had quite a technically interesting system for subdividing the cube as it was destroyed. Made music for like 5 different shops with different themes and every model was custom made for it. Finished it, just didn't get much attention.
      </li>
      <li>
        WASPs, another Roblox game that was actually pretty fun. It was never finished due to exams and the fact that Roblox is a terrible platform for developers. Made devlogs for it on YouTube, but removed them out of cringe. The Trello board for this looked insane, the sheer ammount of work that went into it was crazy.
      </li>
      <li>
        Ice Climbers, a GMTK game. Was fun to make and I look back on it fondly. I always think back on it whenever I'm in a rut and need to remember I can actually work fast.
      </li>
      <li>
        Minecraft plugins, maps, servers and minigames. When I was like 16, I would dedicate months of my life to making crap that will never be remembered. Admin tools, entire games and maps, I would larp as a real server just without the players. I'm proud of the stuff I did and some of the stuff is genuinely impressive but none of it is going to see the light of day again.
      </li>
    </ul>
    <hr/>
    <h2>
      Teleblock
    </h2>
    <p>
      I give a lot of shit to my Minecraft projects. Teleblock was originally in misc because it wasn't THAT special. But with that said, it's probably my most impressive Minecraft projects to date. And since I wrote so much about it, I thought it deserved its own section.
    </p>
    <p>
      Teleblock was a genuinely fun minigame, it was also my last server project before I shut everything down and focused on modding.
    </p>
    <p>
      The whole gimmick was that blocks teleported when you broke them, hence the name. Do you get why it's called Teleblock? It's called TELE-block because the BLOCKS get TELE-ported. That's why it's called TELE-BLOCK.
    </p>
    <p>
      The premise was simple, players break blocks to get points, kill players to steal points and use points to get power ups and upgrade their tools. A pretty simple loop that lead to some pretty fun gameplay, no player could get much of an edge and anyone could turn the game around at any moment so it was incredibly intense. Kind of like Mario Cart in that sense, especailly with all the powerups I added.
    </p>
    <p>
      It also took place on a huge vertical collumn of a floating island, which took up half the development time to make. It had mines, a volcano, a mushroom layer, a deep dark, hidden rooms, a hot spring, camp sites and lots of attention to detail.
    </p>
    <p>
      As you played, events caused the world to get destroyed around you, with the severity and frequency of events increasing as time went on. Games got really chaotic, and it was fun to see the world get completley destroyed around you.
    </p>
    <p>
      This project took weeks to complete and test. It was integrated into a larger server with other games of similar effort. I' a'm trying to find the project files and If I find them I'll put it on GitHub.
    </p>
    <p>
      When I think of this project, I'm incredibly nostalgic about it, It's a shame I can't find the map anywhere.
    </p>
    <p>UPDATE: Found the plugin, and the map</p>
  </div>
  <hr/>
  <p>
    &copy; WoukieNet 2025
  </p>
</div>