<div>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container" style="margin-left: auto; margin-right: auto;">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                </button>
                <a class="brand" href="/">Blue Oasis 2025</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        {% for navitem in site.data.navbar_pages %}
                        {% if page.permalink == navitem[1] %}
                        <li class="active">
                        {% else %}
                        <li>
                        {% endif %}
                            <a href="{{ navitem[1] }}">{{ navitem[0] }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="nav-collapse collapse">
                    <ul class="nav pull-right">
                        <li class="">
                            <a onclick="unacknowledge()" href="/">X</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </br>
</div>