<!doctype html>
<html lang="en">

<head>
    <!-- Stole these tags from some soulless gambling site, haha what losers -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="geo.region" content="England">
    <meta name="referrer" content="always">
    <meta name="robots" content="index">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@woukie">
    <meta name="twitter:creator" content="@woukie">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:image" content="https://woukie.net/assets/img/twitter.png">
    <meta name="twitter:description" content="{{ site.description }}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="https://woukie.net">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:image" content="https://woukie.net/assets/img/twitter.png">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta property="article:published_time" content="2018-02-09T15:20:00Z">
    <meta property="article:modified_time" content="2025-01-10T15:51:26Z">
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="57x57" href="https://woukie.net/assets/img/favicon.ico">
    <link rel="apple-touch-icon" sizes="72x72" href="https://woukie.net/assets/img/favicon.ico">
    <link rel="apple-touch-icon" sizes="114x114" href="https://woukie.net/assets/img/favicon.ico">
    <link rel="apple-touch-icon" sizes="144x144" href="https://woukie.net/assets/img/favicon.ico">
    <link rel="canonical" href="https://woukie.net">
    <link rel="home" href="//woukie.net">
    <link rel="alternate" href="https://woukie.net/" hreflang="de-at">
    <link rel="alternate" href="https://woukie.net/" hreflang="pt-br">
    <link rel="alternate" href="https://woukie.net/" hreflang="en-ca">
    <link rel="alternate" href="https://woukie.net/" hreflang="fr-ca">
    <link rel="alternate" href="https://woukie.net/" hreflang="de-de">
    <link rel="alternate" href="https://woukie.net/" hreflang="el-gr">
    <link rel="alternate" href="https://woukie.net/" hreflang="en-in">
    <link rel="alternate" href="https://woukie.net/" hreflang="en-ie">
    <link rel="alternate" href="https://woukie.net/" hreflang="it-it">
    <link rel="alternate" href="https://woukie.net/" hreflang="es-mx">
    <link rel="alternate" href="https://woukie.net/" hreflang="nl-nl">
    <link rel="alternate" href="https://woukie.net/" hreflang="en-nz">
    <link rel="alternate" href="https://woukie.net/" hreflang="no-no">
    <link rel="alternate" href="https://woukie.net/" hreflang="es-pe">
    <link rel="alternate" href="https://woukie.net/" hreflang="ro-ro">
    <link rel="alternate" href="https://woukie.net/" hreflang="sv-se">
    <link rel="alternate" href="https://woukie.net/" hreflang="en-gb">
    <link rel="alternate" href="https://woukie.net/" hreflang="en-us">
    <script>
        _386 = { onePass: true, fastLoad: false, speedFactor: 2.0 };
    </script>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" media="screen">
</head>

<body style="visibility: hidden;">
    <section>
        {{ content }}
    </section>
    <script>
        if (document.cookie.indexOf('acknowledged=true') === -1 && window.location.pathname !== '/') {
            window.location.href = '/';
        }

        function unacknowledge() {
            document.cookie = "acknowledged=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
            window.location.href = '/';
            return false;
        }

        function acknowledge() {
            window.location.href = '/home';
            document.cookie = "acknowledged=true; expires=Fri, 31 Dec 9999 23:59:59 GMT";
            return false;
        }
    </script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>